# backend/requirements.txt
fastapi
uvicorn[standard]
sqlalchemy
pydantic
pydantic-settings
reportlab
python-barcode
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
pyjwt
pandas
jinja2
psycopg2-binary
python-multipart
requests
certifi
httpx==0.27.*
python-socketio
redis>=4.2.0
